<div class="text-center">
  <h3>Welcome to nigelnorman.me!</h3>
</div>
<div class="text-center">
  <p>I'm Nigel Norman. That's me.</p>

  <p>This site is not just a project, but is also a forum for me to present other projects and interests. It's basically a way to put myself out there on the net.</p>
  <p>It's a tad bare-bones at the moment, in terms of functionality and content, but meant to be constantly improved.</p>
  <p>New content coming soon! Stay tuned!</p>
  <br>
  <p>Last Updated: 03/09/2020</p>  
</div>
