<h3>About Me</h3>
<br />
<p>Musician, Whiskey Enthusiast, and Full Stack Software Developer from Sarasota, Florida.</p>
<p>This site acts as a portfolio to showcase my work and interests.</p>
<br />
<div class="clr-row" *ngFor="let item of featuredItems">
  <div class="card">
    <div class="card-header">
      {{item.name}}
    </div>
    <div class="card-block">
      <div class="card-title">
      </div>
      <div class="card-text">
        <div class="clr-row">
          <div class="clr-col-2 centered">
            <img style="width: 150px; height: 150px;" src="{{item.image}}">
          </div>
          <div class="clr-col-10">
            <p>{{item.description}}</p>
            <a target="_blank" [attr.href]="item.linkUri">{{item.linkUri}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>
