<h3>About Us</h3>
<br />
<p>Pentangle Fitness, LLC was first formed in 2018 in Sarasota, Florida.</p>
<h3>Our Mission:</h3>
<p>Our mission is to promote a healthy lifestyle for bodies of all ages.</p>
<button class="btn btn-primary" (click)="open = true">Show modal</button>
<clr-modal [(clrModalOpen)]="open">
  <h3 class="modal-title">I have a nice title</h3>
  <div class="modal-body">
    <p>But not much to say...</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="open = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="open = false">Ok</button>
  </div>
</clr-modal>