<h3>About Me</h3>
<br />
<p>Musician, Whiskey Enthusiast, and Full Stack Software Developer from Sarasota, Florida.</p>
<p>
  I have a wide range of hobbies and talents. Some of them pay the bills, but most just help me maintain sanity. My day job is writing web applications for a local company
  in the real estate industry. When I'm not doing that, I can be found doing all sorts of other stuff. 
</p>
<p>
  I love to cook new and exciting foods, and am pretty much in charge of all of my family's nutritional needs. My favorite cuisines are German foods and pretty much
  all seafood.
</p>
<p>
  I love being outside; having grown up in Florida, you might be surprised to learn that I don't actually spend much time at the beach 
  these days. Though in my youth, I used to scuba dive with my dad in the Gulf of Mexico. These days I more enjoy being outside at parks with my family. I love to fish,
  camp, kayak, and ride my bike all over the place.
</p>
<p>
  I am classically trained on the piano and bass, and along the way have picked up the guitar, because of the portability, and pretty much everyone does it ¯\_(ツ)_/¯ 
  &nbsp;
  I am a big fan of indie folk and rock, the blues, and bluegrass.
</p>
<p>
  As a developer, I have a lot of experience in the .NET ecosystem, and enjoy the aspects of 3rd party API integrations. I do a lot better on the back-end, admittedly. So
  this site is a work in progress and will push me to improve my site design skills.

  This site acts as a portfolio to showcase my work and interests.
</p>
<br />

